{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header class="wrapper">
        <h1>
            <a href="{% url 'articles:list' %}">
                <h3>
                    <span class="teal">print(</span><span class="light-yellow">"Hello Django"</span><span class="teal">)</span>
                </h3>
            </a>
        </h1>
        <nav>
            <ul>
                <li>
                    <form action="{% url 'accounts:logout' %}" method='POST' class="logout-link">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                </li>
            </ul>
        </nav>
    </header>
    <div class="wrapper">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>