  
ul{
    padding: 0;
    list-style-type: none;
  }
  
.main{
  padding: 10px;
}
.chart{
  margin: 0 auto;
 text-align: center;
}

.legend{
  text-align: justify;
  padding: 10px;
}

@media(min-width: 1024px){
  .main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 200px;
  }
  
  .chart{
    width: 400px;
    height: 400px;
  }

  
  .statusTitle{
    padding: 10px;
    font-weight: 700;
  }
}
